{% extends 'templating.html' %}
{% load static %}
	{% block metatag %}
	<title>Astro Website</title>		
	{% endblock %}
	{% block content %}	

<hr><hr><hr><hr><hr><hr>
<hr>
<h1 align="center">Daily Horoscopes</h1>
<hr>
<div class="jumbotron">
	<a href="{% url 'dashboard'%}" class="btn btn-success"><< Go To Dashbboard</a><br><br>
    
	<a href="{% url 'createdailyhoroscope'%}" class="btn btn-primary">Create Horoscope</a><br><br>
   
<div class="container">
  <div class="row">

  	<div class="col-sm-8">

  		
     <table class="table table-striped table-sm">
     	<tr><th>S.No</th><th>Writer</th><th>Zodiac</th><th>Date</th><th>Category</th><th></th><th></th></tr>
     	{% for dh in daily_horo %}
     	<tr>
     		<td>{{dh.id}}</td>
     		<td>{{dh.astroprofile}}</td>
     		<td>{{dh.zodiac}}</td>
     		<td>{{dh.date}}</td>
     		<td>{{dh.category}}</td>
     		<td><a href="{% url 'editdailyhoroscope' dh.id %}" class="btn btn-warning btn-sm">Edit Horoscope</a></td>
     		<td><a href="{% url 'deletedailyhoroscope' dh.id %}" class="btn btn-danger btn-sm">Delete Horoscope</a></td>
     	</tr>
     	{% endfor %}


     </table>
  	</div>
  	<div class="col-sm-4" style="background-color:#fff; text-align: center">
  		<p align="center">
        <br>
     <a href="{% url 'viewweeklyhoroscopelist' %}" class="btn btn-primary">Create/Edit Weekly Horoscope</a><br><br>
     <a href="{% url 'viewmonthlyhoroscopelist' %}" class="btn btn-primary">Create/Edit Monthly Horoscope</a><br><br>
     <a href="{% url 'viewyearlyhoroscopelist' }" class="btn btn-primary">Create/Edit Yearly Horoscope</a><br><br>
     <br>
     </p>

     
  	</div>
  </div>
</div>




{% endblock %}