
{% extends 'templating.html' %}
{% load static %}
	{% block metatag %}
	<title>Astro Website</title>		
	{% endblock %}
	{% block content %}	

<hr><hr><hr><hr><hr><hr>

<div class="jumbotron" >
  <div class="container" >
    <div class="row">
      <div class="col-sm-2">
       
      </div>
      <div class="col-sm-8">
    <h1 align="center"> HEALTH HOROSCOPES</h1>

    <hr>
    <p align ="center" >Quisque dolor est, dictum at nisl placerat, fermentum blandit elit. Cras at nulla auctor ante tincidunt condimentum. Nullam finibus purus nec vulputate sodales. Nam ultrices nisi magna, ultrices porta ipsum interdum ac. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fermentum et ante posuere varius. Duiis porta metus nulla, vitae viverra nisi dignissim non. Pellentesque tincidunt lorem molestie tempor fringilla. Nullam cursus dapibus tempus. Cras est nulla, consectetur eu lacinia ac, luctus id tortor. Integer a dictum lectus. Donec vitae ipsum sed mauris tempus bibendum a ac arcu.

Aenean euismod tincidunt mattis. Quisque ac vehicula sem. Ut ornare tristique justo elementum laoreet. Quisque ut cursus diam. Donec nibh nunc, placerat in egestas sit amet, consequat ut justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis fermentum magna auctor aliquam. Sed at massa at odio elementum placerat sed in purus. Suspendisse eget pretium tellus. Nulla fringilla euismod dui nec sodales. Aliquam turpis nisl, tincidunt a rutrum quis, egestas non massa. Proin vel facilisis orci. Aliquam et velit vel nulla ultrices elementum eget nec lectus. Phasellus in urna ac ante faucibus varius sed tempus dui. Suspendisse a erat eget justo mollis mollis vel nec dolor.


Donec bibendum vestibulum ligula non consequat. Maecenas vel nisl elementum justo vestibulum maximus. Nunc aliquet nibh in nisi feugiat, sit amet iaculis elit aliquam. Donec ullamcorper est mauris, vel tincidunt elit lacinia a. Phasellus et felis accumsan, viverra odio vel, lobortis odio. Vivamus egestas lorem eu augue varius rutrum. Pellentesque in ligula in enim congue aliquet. Nullam at orci ipsum. Donec feugiat sollicitudin justo. Mauris vel nulla at eros euismod aliquam a sit amet sem. Sed ac scelerisque odio.</p>
 </div>
<div class="col-sm-2">
       
      </div>
</div>

  </div>
</div>



<hr>
<h1 align="center"> FREE HEALTH HOROSCOPE FOR TODAY </h1>
<hr>

<section>
  <div class="row">
    {% for tnh1 in today_normal_horo1 %}
     <div class="col-md-2">
      <div class="card-body" style="max-width: 18rem;">
  <p align="center"><img src="{{ tnh1.image.url }}" style="height: 100px; width: 100px; border-radius: 50%;"></p>
  <div>
    <p class="card-title" align="center">{{ tnh1.zodiac }} {{ tnh1.category }} Horoscope </p>
    <p class="card-text" align="center">for {{ tnh1.date }}</p>
     <p align="center"><a href="" class="btn btn-primary btn-sm">View full Horoscope</a></p>
  </div>
</div>
     </div>
    {% endfor %}
  </div>
<br>
<div class="row">
    {% for tnh2 in today_normal_horo2 %}
     <div class="col-md-2">
      <div class="card-body" style="max-width: 18rem;">
  <p align="center"><img src="{{ tnh2.image.url }}" style="height: 100px; width: 100px; border-radius: 50%;"></p>
  <div>
    <p class="card-title" align="center">{{ tnh2.zodiac }} {{ tnh2.category }} Horoscope </p>
    <p class="card-text" align="center">for {{ tnh2.date }}</p>
     <p align="center"><a href="" class="btn btn-primary btn-sm">View full Horoscope</a></p>
  </div>
</div>

     </div>
    {% endfor %}
  </div>
</section>
<br>






<hr>
<h1 align="center"> FREE HEALTH HOROSCOPE FOR TOMORROW </h1>
<hr>

<section>
  <div class="row">
    {% for tomnh1 in tomo_normal_horo1 %}
     <div class="col-md-2">
      <div class="card-body" style="max-width: 18rem;">
  <p align="center"><img src="{{ tomnh1.image.url }}" style="height: 100px; width: 100px; border-radius: 50%;"></p>
  <div>
    <p class="card-title" align="center">{{ tomnh1.zodiac }} {{ tomnh1.category }} Horoscope </p>
    <p class="card-text" align="center">for {{ tomnh1.date }}</p>
     <p align="center"><a href="" class="btn btn-primary btn-sm">View full Horoscope</a></p>
  </div>
</div>
     </div>
    {% endfor %}
  </div>
<br>
<div class="row">
    {% for tomnh2 in tomo_normal_horo2 %}
     <div class="col-md-2">
      <div class="card-body" style="max-width: 18rem;">
  <p align="center"><img src="{{ tomnh2.image.url }}" style="height: 100px; width: 100px; border-radius: 50%;"></p>
  <div>
    <p class="card-title" align="center">{{ tomnh2.zodiac }} {{ tomnh2.category }} Horoscope </p>
    <p class="card-text" align="center">for {{ tomnh2.date }}</p>
     <p align="center"><a href="" class="btn btn-primary btn-sm">View full Horoscope</a></p>
  </div>
</div>

     </div>
    {% endfor %}
  </div>
</section>
<br>



<hr>


<h1 align="center"> WEEKLY HEALTH HOROSCOPE</h1>    
  <hr>
<section>
  <div class="row">
    {% for swh1 in sim_week_horo1 %}
     <div class="col-md-2">
      <div class="card-body" style="max-width: 18rem;">
        <p align="center"><img src="{{ swh1.image.url }}" style="height: 100px; width: 100px; border-radius: 50%;"></p>
          <div>
            <p class="card-title" align="center">{{ swh1.zodiac }} {{ swh1.category }} Horoscope </p>
            <p class="card-text" align="center">For {{ swh1.from_date}} To {{ swh1.to_date }}</p>
            <p align="center"><a href="#" class="btn btn-primary btn-sm">View full Horoscope</a></p>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>

<br>

  <div class="row">
    {% for swh2 in sim_week_horo2 %}
     <div class="col-md-2">
      <div class="card-body" style="max-width: 18rem;">
        <p align="center"><img src="{{ swh2.image.url }}" style="height: 100px; width: 100px; border-radius: 50%;"></p>
          <div>
            <p class="card-title" align="center">{{ swh2.zodiac }} {{ swh2.category }} Horoscope </p>
            <p class="card-text" align="center">For {{ swh2.from_date}} To {{ swh2.to_date }}</p>
            <p align="center"><a href="#" class="btn btn-primary btn-sm">View full Horoscope</a></p>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<br>



<hr>


<h1 align="center"> MONTHLY HEALTH HOROSCOPE</h1>    
  <hr>
<section>
  <div class="row">
    {% for smh1 in sim_month_horo1 %}
     <div class="col-md-2">
      <div class="card-body" style="max-width: 18rem;">
        <p align="center"><img src="{{ smh1.image.url }}" style="height: 100px; width: 100px; border-radius: 50%;"></p>
          <div>
            <p class="card-title" align="center">{{ smh1.zodiac }} {{ smh1.category }} Horoscope </p>
            <p class="card-text" align="center">For {{ smh1.month }}</p>
            <p align="center"><a href="#" class="btn btn-primary btn-sm">View full Horoscope</a></p>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>

<br>

  <div class="row">
    {% for smh2 in sim_month_horo2 %}
     <div class="col-md-2">
      <div class="card-body" style="max-width: 18rem;">
        <p align="center"><img src="{{ smh2.image.url }}" style="height: 100px; width: 100px; border-radius: 50%;"></p>
          <div>
            <p class="card-title" align="center">{{ smh2.zodiac }} {{ smh2.category }} Horoscope </p>
            <p class="card-text" align="center">For {{ smh2.month }}</p>
            <p align="center"><a href="#" class="btn btn-primary btn-sm">View full Horoscope</a></p>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<br>



<hr>


<h1 align="center"> YEARLY HEALTH HOROSCOPE</h1>    
  <hr>
<section>
  <div class="row">
    {% for syh1 in sim_year_horo1 %}
     <div class="col-md-2">
      <div class="card-body" style="max-width: 18rem;">
        <p align="center"><img src="{{ syh1.image.url }}" style="height: 100px; width: 100px; border-radius: 50%;"></p>
          <div>
            <p class="card-title" align="center">{{ syh1.zodiac }} {{ syh1.category }} Horoscope </p>
            <p class="card-text" align="center">For {{ syh1.year }}</p>
            <p align="center"><a href="#" class="btn btn-primary btn-sm">View full Horoscope</a></p>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>

<br>

  <div class="row">
    {% for syh2 in sim_year_horo2 %}
     <div class="col-md-2">
      <div class="card-body" style="max-width: 18rem;">
        <p align="center"><img src="{{ syh2.image.url }}" style="height: 100px; width: 100px; border-radius: 50%;"></p>
          <div>
            <p class="card-title" align="center">{{ syh2.zodiac }} {{ syh2.category }} Horoscope </p>
            <p class="card-text" align="center">For {{ syh2.year }}</p>
            <p align="center"><a href="#" class="btn btn-primary btn-sm">View full Horoscope</a></p>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<br>


{% endblock %}