{% extends 'templating.html' %}
{% load static %}
    {% block metatag %}
    <title>Tarot | Astro Connect</title>		
    {% endblock %}
    {% block content %}	
    <section class="page-title-banner" style="background-image:url({% static 'img/banner_image.jpg' %});">
        <div class="container">
            <div class="row m-0 align-items-end detail-swap">
                <div class="tr-list-wrap">
                    <div class="tr-list-detail">
                        <div class="tr-list-thumb">
                            <img src="{% static 'img/tarot.jpg' %}" class="img-responsive" alt="Tarot">
                        </div>
                        <div class="tr-list-info">
                            <h4>Tarot<hr></h4>
                        </div>
                    </div>
                    <div class="listing-detail_right">
                        <div class="listing-detail-item">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#add-review" class="btn btn-list">Home / Tarot</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container"> 
            <h1 align="center">TAROT DIVINATION</h1>
            <div class="row">
                <div class="col-md-8">
                    <p align="justify">The tarot (/ˈtæroʊ/, first known as trionfi and later as tarocchi or tarock) is a pack of playing cards, used from the mid-15th century in various parts of Europe to play games such as Italian tarocchini, French tarot and Austrian Königrufen, many of which are still played today. In the late 18th century, some tarot decks began to be used for divination via tarot card reading and cartomancy leading to custom decks developed for such occult purposes.<br></p>
                    <p align="justify">Like common playing cards, the tarot has four suits which vary by region: French suits in Northern Europe, Latin suits in Southern Europe, and German suits in Central Europe. Each suit has 14 cards: ten pip cards numbering from one (or Ace) to ten, and four face cards (King, Queen, Knight, and Jack/Knave/Page). In addition, the tarot has a separate 21-card trump suit and a single card known as the Fool. Depending on the game, the Fool may act as the top trump or may be played to avoid following suit.[2] These tarot cards are still used throughout much of Europe to play conventional card games without occult associations.<br></p>
                    <p align="justify">Among English-speaking countries where these games are not played frequently, tarot cards are used primarily for novelty and divinatory purposes, usually using specially designed packs.[2] Some occult enthusiasts claim that tarot has esoteric links to ancient Egypt, the Kabbalah, Indian Tantra, or the I Ching, though no documented evidence of such origins or of the usage of tarot for divination before the 18th century has been demonstrated to a scholarly standard<br></p>
                </div>
                <div class="col-md-4">
                    <h3 align="center">Have any question about Tarot? Just ask..</h3>
                    <hr>
                    <div class="card" style="background-color: #dddddd;">
                        <form method="POST">
                            {% csrf_token %}
                            <table>
                                <tr><td><h6>{{ form.question.label }}</h6></td></tr>
                                <tr><td>{{ form.question}}</td></tr>
                                <tr><td><input type="submit" value="Ask Question" class="btn btn-primary" style="border-radius: 500px;"></td></tr>
                            </table>
                        </form>
                    </div>
                </div>
        
            </div>
        </div>
    </section>
    <hr>
    <section>
        <div class="container" align="center">
            <h2>YEAARLY TAROT</h2>
            <a href="{% url 'viewyearlytarot'%}" class="btn btn-primary">Read For 2020</a>
        </div>
    </section><hr>
    <section>
        <div class="container">
            <h3 align="center"> VIEW TAROT ARTICLES </h3>
            <div class="row">
                {% for ar in tarot_articles %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ar.title}}</h5>
                            <p class="card-text">{{ar.content|truncatechars:250}}</p>
                            <a href="{% url 'viewtarotarticle' ar.id %}" class="btn btn-primary">Read Full article</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <hr>
    <section>
        <div class="jumbotron">
            <h2 align="center"> TAROT BLOGS </h2>
            <div class="container">
                <div class="row mb-2 posts">
                    {% for post in posts %}
                    <div class="col-md-6">
                        <div class="cards">
                            <div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <h3 class="my-1"><a href="{% url 'detailview' post.slug %}">{{post.title}}</a></h3>
                                    <div style="display:flex">
                                        {% for tag in post.tags.all %}
                                        <a href="{% url 'tagged' tag.slug %}" class="mr-1 badge badge-info">{{ tag }}</a>
                                        {% endfor %}
                                    </div>
                                    <p class="mb-auto">{{post.description|truncatechars:400}}</p>
                                    <p class="mb-auto text-muted">{{post.published}}</p>
                                </div>
                            </div>
                        </div>       
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endblock %}