{% extends 'templating.html' %}
{% load static %}
	{% block metatag %}
	<title>Astro Website</title>		
	{% endblock %}
	{% block content %}	

<hr><hr><hr><hr><hr><hr>
<hr>
<h1 align="center">Yearly Tarot</h1>
<hr>
<div class="jumbotron">
<div class="container">
  <div class="row">
    <div class="col-sm-6">
	  <a href="{% url 'dashboard'%}" class="btn btn-success"><< Go To Dashbboard</a>
    
	  <a href="{% url 'createyearlytarot'%}" class="btn btn-primary">Create Yearly Tarot</a><br><br>
    </div> 
   <div class="col-sm-6">
        <p align="center">
        <br>
     <a href="" class="btn btn-outline-success btn-sm ">Create/Edit Tarot Articles</a>
     <a href="" class="btn btn-outline-success btn-sm">Create/Edit Tarot Answers</a>
     
     
     </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">

  	<div class="col-sm-12">

  		
     <table class="table table-striped table-sm">
     	<tr>
        <th>S.No</th>
        <th>Writer</th>
        <th>Lucky Crystal</th>
        <th>Lucky Color</th>
        <th>Year</th>
        <th></th>
        <th></th>
      </tr>
     	{% for dh in yearly_tarot %}
     	<tr>
     		<td>{{dh.id}}</td>
     		<td>{{dh.astroprofile}}</td>
     		<td>{{dh.crystal}}</td>
     		<td>{{dh.color}}</td>
     		<td>{{dh.year}}</td>
     		<td><a href="{% url 'edityearlytarot' dh.id %}" class="btn btn-warning btn-sm">Edit Yearly Tarot</a></td>
     		<td><a href="{% url 'deleteyearlytarot' dh.id %}" class="btn btn-danger btn-sm">Delete Yearly Tarot</a></td>
     	</tr>
     	{% endfor %}


     </table>
  	</div>
  	
  

     
  	
  </div>
</div>


{% endblock %}